.pokemon-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
    gap: 15px;
    padding: 10px;
    max-width: 1200px;
    margin: 0 auto;
}

.pokemon-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    background-color: var(--primary);
    padding: 5px 0;
    box-shadow: 4px 4px 1px #00000020;
    transition: 0.3s;

    &:hover {
        transform: scale(1.01);
        box-shadow: 0 0 15px 0 #21212170;
    }
}

.pokemon-card p {
    color: var(--secondary);
    text-transform: capitalize;
}

.pokemon-image {
width: 150px;
height: 150px;
margin: 5px 0;
}

.pokemon-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.479);
    color: var(--secondary);
    font-weight: bold;
    padding: 4px 8px;
    border-radius: 10px;
    width: auto;
    gap: 15px;
}

.more-btn {
    background-color: var(--primary);
    color: var(--secondary);
    border-radius: 10px;
    padding: 12px;
    margin: 2% 0% 2% 46.7%;
    border: none;
    box-shadow: 4px 4px 16px #00000020;
    display: flex;
    justify-content: center;
    cursor: pointer;
    align-items: center;
    text-align: center;
    gap: 5px;
    transition: 0.5s;
    &:hover {
        transform: scale(1.08);
        opacity: 0.9;
    }
}