.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.search-input {
    margin-bottom: 1.5rem;
    background-color: var(--secondary);
    border: 1px solid var(--primary);
    border-radius: 10px;
    padding: 12px;
    flex: .2;
    font-size: 16px;
    box-shadow: 4px 4px 16px #00000020;
}

.search-btn {
    background-color: var(--primary);
    color: var(--secondary);
    border-radius: 10px;
    margin-bottom: 1.5rem;
    padding: 12px;
    border: none;
    box-shadow: 4px 4px 16px #00000020;
    display: flex;
    justify-content: center;
    cursor: pointer;
    gap: 5px;
    transition: 0.5s;
    &:hover {
        transform: scale(1.08);
        opacity: 0.9;
    }
}

