.nav {
  margin-top: 120px;
  padding: 0 7rem;
}

.nav-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  gap: 6px;
}

.nav-list button {
    border: none;
    border-radius: 20px;
    padding: 5px 10px;
    cursor: pointer;
    text-transform: uppercase;
}

.pokemon {
  background-color: var(grey);
  color: black;
}

  .grass {
    background-color: var(--planta);
    color: white;
  }
  
  .fire {
    background-color: var(--fuego);
    color: white;
  }
  
  .water {
    background-color: var(--agua);
    color: white;
  }
  
  .electric {
    background-color: var(--eléctrico);
    color: white;
  }
  
  .ice {
    background-color: var(--hielo);
    color: white;
  }
  
  .fighting {
    background-color: var(--lucha);
    color: white;
  }
  
  .poison {
    background-color: var(--veneno);
    color: white;
  }
  
  .ground {
    background-color: var(--tierra);
    color: white;
  }
  
  .flying {
    background-color: var(--volador);
    color: white;
  }
  
  .psychic {
    background-color: var(--psíquico);
    color: white;
  }
  
  .bug {
    background-color: var(--bicho);
    color: white;
  }
  
  .rock {
    background-color: var(--roca);
    color: white;
  }
  
  .ghost {
    background-color: var(--fantasma);
    color: white;
  }
  
  .dragon {
    background-color: var(--dragón);
    color: white;
  }
  
  .dark {
    background-color: var(--siniestro);
    color: white;
  }
  
  .steel {
    background-color: var(--acero);
    color: white;
  }
  
  .fairy {
    background-color: var(--hada);
    color: white;
  }
  
  .normal {
    background-color: var(--normal);
    color: white;
  }

  .scroll-button {
    position: fixed;
    bottom: 5px;
    right: 5px;
    width: 50px;
    height: 50px;
    z-index: 2;
  }

  @media (max-width: 650px) {
    .nav {
      padding: 0 1rem;;  
    }
    .nav-list {
      gap: 2;  
    }
  }

  @media (max-width: 500px) {
    .nav {
      margin-top: 95px;
    }
  }
 
  