.nav-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 0.5rem;
  align-items: center;
  text-align: center;
  margin: 0.5% 12%;
  
}

.nav-list button {
    border: none;
    border-radius: 20px;
    padding: 5px 10px;
    cursor: pointer;
    text-transform: uppercase;
}

  .planta {
    background-color: var(--planta);
    color: var(--secondary);
  }
  
  .fuego {
    background-color: var(--fuego);
    color: var(--secondary);
  }
  
  .agua {
    background-color: var(--agua);
    color: var(--secondary);
  }
  
  .eléctrico {
    background-color: var(--eléctrico);
    color: var(--secondary);
  }
  
  .hielo {
    background-color: var(--hielo);
    color: var(--secondary);
  }
  
  .lucha {
    background-color: var(--lucha);
    color: var(--secondary);
  }
  
  .veneno {
    background-color: var(--veneno);
    color: var(--secondary);
  }
  
  .tierra {
    background-color: var(--tierra);
    color: var(--secondary);
  }
  
  .volador {
    background-color: var(--volador);
    color: var(--secondary);
  }
  
  .psíquico {
    background-color: var(--psíquico);
    color: var(--secondary);
  }
  
  .bicho {
    background-color: var(--bicho);
    color: var(--secondary);
  }
  
  .roca {
    background-color: var(--roca);
    color: var(--secondary);
  }
  
  .fantasma {
    background-color: var(--fantasma);
    color: var(--secondary);
  }
  
  .dragón {
    background-color: var(--dragón);
    color: var(--secondary);
  }
  
  .siniestro {
    background-color: var(--siniestro);
    color: var(--secondary);
  }
  
  .acero {
    background-color: var(--acero);
    color: var(--secondary);
  }
  
  .hada {
    background-color: var(--hada);
    color: var(--secondary);
  }
  
  .normal {
    background-color: var(--normal);
    color: var(--secondary);
  }

  @media (max-width: 650px) {
    .nav-list {
      margin: 1rem 1.3rem;   
    }
  }
 
  