:root {
  --primary: #5e04d7;
  --secondary: #ffffff;
  --tertiary: #0c0c0c;
  --quaternary: rgba(172, 172, 172, 0.363);
  --quinary: #26e;
  --sextiary: #fdfdfd;

  --planta: #9bcc50;
  --fuego: #ff9c54;
  --agua: #6390f0;
  --eléctrico: #f7d02c;
  --hielo: #51c4e7;
  --lucha: #d56723;
  --veneno: #b97fc9;
  --tierra: #da7c4d;
  --volador: #83a2e3;
  --psíquico: #f366b9;
  --bicho: #a7b31f;
  --roca: #a38c21;
  --fantasma: #65539a;
  --dragón: #0c69c8;
  --siniestro: #5a5454;
  --acero: #b5b8cf;
  --hada: #fdb9e9;
  --normal: #a8a77a;
  font-family: 'Inclusive Sans', sans-serif;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--quaternary)
}

ul {
  list-style: none;
}


[data-tema="oscuro"] {
  --primary: #ffffff;
  --secondary: #450094;
  --tertiary: #ffffff;
  --quaternary: #5e04d7;
  --quinary: rgb(201, 201, 201);
}